<svg version="1.1"
     width="100"
     height="100"
     baseProfile="full"
     viewBox="0 0 11 11" 
     xmlns="http://www.w3.org/2000/svg">
  <g id="border"  transform="scale(0.167,0.25)">
  {{#borderPixels}}
    <rect x="{{x}}" y="{{y}}" width="1" height="1" fill="{{fill}}" border="{{fill}}"/>
  {{/borderPixels}}
  </g>
  <g id="portrait">
  {{#portraitPixels}}
    <rect x="{{x}}" y="{{y}}" width="1" height="1" fill="{{fill}}" border="{{fill}}" />
  {{/portraitPixels}}
  </g>
  <use href="#portrait" transform="translate(11,0) rotate(90)" />
  <use href="#portrait" transform="translate(11,11) rotate(180)" />
  <use href="#portrait" transform="translate(0,11) rotate(270)" />
  <use href="#border" transform="translate(0.5,11) rotate(180)" />
  <use href="#border" transform="translate(0.5,11) rotate(180)" />
  <use href="#border" transform="translate(10.5,0)" />
  <use href="#border" transform="translate(11,11) rotate(180)" />
  <use href="#border" transform="translate(0,0.5) rotate(270)"/>
  <use href="#border" transform="translate(11,0) rotate(90)"/>
  <use href="#border" transform="translate(0,11) rotate(270)"/>
  <use href="#border" transform="translate(11,10.5) rotate(90)"/>
</svg>
